header {
    // box-sizing: border-box;
    // position: fixed;
    // width: 100%;
    // box-sizing: border-box;
    padding: 10px;
    display: flex;
    justify-content: end;

    a {
        color: $primary-color;
    }
}